* {
    background-color: hsl(0, 53%, 90%);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: hsl(0, 0, 10%);
}
.heading{
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    margin: 0;
}

button{
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-style: bold;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: hsl(0, 0%,25%);
    color: white;
    
}
.keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 20px;
    color:white;
    
}
.calculator{
    background-color:hsl(0, 0%, 20%);
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    border: 5px solid black;
    max-width: 500px;
    
}
.display{
    color: black;
    font-style: bold;
    text-align: left;
    font-size: 50px;
    padding: 20px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1rem; 
}

.display-btn-remove{
    background-color: hsl(26, 81%, 49%);
}
.display-btn-clear{
  background-color:  hsl(26,81%, 49%);
}
.calculate{
    background-color:  hsl(26,81%, 49%);
}
.display-btn-op{
    background-color:  hsl(26,81%, 49%);
}
.display-btn:hover {
     background-color: hsl(0, 0%,50%);

}
.display-btn-clear:hover,
.calculate:hover,
.display-btn-op:hover, 
.display-btn-remove:hover {
  background-color: hsl(26,81%,76%);
}
